// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.footer {
    //position: absolute;
    text-align: right;
    padding-top: 1%;
    padding-right: 1%;
    bottom: 0px;
    width: 100%;
    height: 50px;
    background-color: #F5F5F5;
    display: block;
    box-sizing: border-box;
}